@import url('https://fonts.googleapis.com/css2?family=Exo:wght@900&display=swap');

.divNav{
    border-radius: 0px 0px 10px 10px;
    background-color: rgba(161, 0, 167, 0.3);
    background: rgba(19, 0, 19, 0.2);
    backdrop-filter: blur(3px);
    width: 205.8vh;
    height: 10vh;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    z-index: 1;
}


.nav{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    left: -20rem;
    gap: 400px;
}

.aNav {
    text-decoration: none;
    color: rgb(187, 187, 187);
    position: relative;
    font-family: 'Exo';
    font-size: 2em;
    font-style: italic;
    letter-spacing: 0.03em;
    transition: 0.8s;
    text-shadow: 6px 10px 11px rgba(168, 32, 157, 0.8);
    &:hover{
        font-size: 3em;
    }
}

.navList{
    display: flex;
    list-style-type: none;
    gap: 1rem;
    position: inherit;
    flex-direction: row;
}
