.App {
  text-align: center;
  display: block;
}

.divBackground{
  width: 100%;
  height: 100%;
}

.selectedId{
  background-color: rgb(255, 222, 218) !important;
  border: none;
  color: rgb(132, 0, 255) !important;
}
