.divCard{
    display: flex;
    border: 1px solid red;
    width: 300px;
    height: 168.75px;
    flex-direction: column;
    flex-wrap: wrap;
    position: relative;
    & a{
        text-decoration: none;
    }
}
.cardImg{
    position: relative;
    left: -2.2rem;
    flex-wrap: wrap;
    
    & img{
        width: 240px;
        height: 135px;
        border-radius: 2rem;
    }
}