.divBlack{
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    background-color: black;
    z-index: 10;
}

.homeContainer{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    flex-direction: column;
}

.divSearchBar{
    position: relative;
    margin-left: 3vw;
    margin-right: 3vw;
}
  
.divHome{
    display: flex;
    position: inherit;
    flex-wrap: wrap;
    justify-content: center;
}

.divGameLoader{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 95vw;
    height: 60vh;
    margin-top: 4vh;
    flex-direction: column;
    
    & img{
        width: 30vh;
        opacity: 80%;
        padding: 0;
        margin: 0;
    }

    & h3{
        margin: 0px;
        padding: 0px;
    }
}

.ulCards{
    width: 95vw;
    height: auto;
    display: grid;
    grid-template-columns: 
        repeat(auto-fit, minmax(300px, 330px));
    position: relative;
    justify-items: center;
    justify-content: center;
    gap: 1.5vw;
    margin-top: 3vh;
    padding: 0px;
}

.divSelect{
    margin-top: 1vh;
    position: relative;
    flex-direction: row;
    display: flex;
    justify-content: center;
    align-items: center;
}

.divFilters{
    width: 30vw;
    height: max-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(1px);
    border-radius: 10px;
    transition: 0.8s;
}

.select{
    background-color: transparent;
    border-radius: .375em;
    width: 10rem;
    height: max-content;
    margin: 2px;
    font-size: 1rem;
    font-style: italic;
    color: rgba(255, 255, 255, 0.7);
    text-shadow: 3px 3px 5px rgba(255, 95, 46, 0.76);
    border: none;
    &:hover{
        background: transparent;
        background-color: transparent;
    }
    & option{
        color: black;
    }        
}

h3{
    font-size: 1.2rem;
    font-style: italic;
    color: rgba(255, 255, 255, 0.7);
    text-shadow: 3px 3px 5px rgba(255, 95, 46, 0.76);
    margin: 2px;
}

.divCheckbox{
    display: flex;
    gap: 5px;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.labelFilters{
    font-size: 15px;
    font-style: italic;
    color: rgba(255, 255, 255, 0.7);
    text-shadow: 3px 3px 5px rgba(255, 95, 46, 0.76);
}

@media screen and (max-width: 1240px) {
    .divFilters{
        width: 20vw;
    }

    .labelFilters{
        font-size: 12px;
    }
}

@media screen and (max-width: 800px ) {
    .divSelect{
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .divFilters{
        width: 80vw;
    }

    .labelFilters{
        font-size: 1rem;
    }

}